# Ignore editor backup files
*~

# Ignore compiled C++
*.d
*.o
*.so
*.pcm

# Ignore executables
runAll

# Ignore plots, and root files
*.root
*.pdf
*.png
*.gif
*.svg

#Ignore plotmaking scripts
PlotMakingTools.h
dataMCplotMaker.cc
dataMCplotMaker.h
