# Ignore editor backup files
*~

# Ignore compiled C++
*.d
*.o
*.so
*.pcm

# Ignore executables
runLooper

# Ignore root files
*.root

#Ignore plotmaking scripts
PlotMakingTools.h
dataMCplotMaker.cc
dataMCplotMaker.h
